# Virtual Environment
venv/
env/
ENV/
.venv/

# Environment Variables & Secrets
.env
.env.*

# Git
.git/
.gitignore

# CI/CD and IDE
.github/
.vscode/
.idea/

# Artifacts & Local Logs
Artifacts/
logs/
*.log

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Local notebooks & checkpoints
.ipynb_checkpoints/
notebooks/
